.container-home{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.button-users{
    width: 30%;
    height: 30px;
    background: #7c0808;
    box-shadow: 1px 1px 0.3em black;
    border-radius: 20px;
    border: 0;
    color: white;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    
}

.container-user-adm{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    margin: 100px 140px;
}

.user-info-adm{
    grid-column-start: 1;
    grid-column-end: 5;
    border-radius: 10px;
    padding: 5px;
    border: 2px solid black;
    background-color: white;
}

.user-info-adm ul li {
    font-size: 25px;
    padding: 10px;
}

.user-address-info-adm{
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    border: 2px solid black;
    background-color: rgb(244, 253, 116);
}

.user-card-info-adm{
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    border: 2px solid black;
    background-color: rgb(152, 255, 126);
}

.user-fame-info-adm{
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    border: 2px solid black;
    background-color: rgb(137, 135, 243);
}

.user-activated-info-adm{
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    border: 2px solid black;
    color: white;
    background-color: rgb(70, 64, 64);
}