.container{
    width: 100%;
    padding-top: 1.1%;
}

.form-save select{
    box-shadow: 1px 1px 0.5em #000000;
}

.form-save input{
    box-shadow: 1px 1px 0.5em #000000;
}

.form-save p{
    position: fixed;
    margin-top: -45px;
    padding-left: 12%;
    font-size: 30px;

}

.form-save{
    background-color: rgb(251, 253, 240);
    box-shadow: 5px 5px 1em #000000;
    border-radius: 12px;

}