
.products{
    width: 100%;
    max-width: 1080px;    
}


.products ul {
    padding: 3%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    list-style: none;
    width: 1900px;
}

.products ul li {
    text-align: left;
    background-color: white;
    box-shadow: 5px 5px 1em #BA2126;
    padding: 24px;
    border-radius: 12px;
}


.products ul li:hover {
    background-color: white;
    box-shadow: 8px 8px 1em #ff0008;
    padding: 24px;
    border-radius: 12px;
    position: relative;
}

.products ul li p{
    color: #BA2126;
}

.products ul li img{
    position: absolute;
    margin-left: 266px;
    padding-left: 25px;
    margin-top: -206px;
    width: 285px;
}

.products ul li strong{
    color: #8b1a1e;
}

.products ul li .buy{
    width: 50%;
    height: 60px;
    background: #BA2126;
    border-radius: 28px;
    border: 0;
    color: white;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    line-height: 60px;
    transition: filter 0.8s;
}

.products ul button{
    cursor: pointer;
}