.products-full-container{
    width: 100%;
    max-width: 1080px;
    padding: 10px auto;
    margin: 22px 5%;
    
}

.products-full-container ul {
    display: grid;
    grid-template-columns: repeat(3, 50%);
    grid-gap: 25px;
    list-style: none;
}

.products-full-container ul li {
    border: 1px solid black;
    padding: 18px;
    border-radius: 8px;
    position: relative;
}

.products-full-container ul li strong {
    display: block;
    margin-bottom: 18px;
    color: black;
}

.products-full-container ul li p + strong{
    margin-top: 20px;
}

.products-full-container ul li p{
    color: #737380;
    line-height: 10px;
    font-size: 22px;
}


@media screen and (max-width: 1800px) {

    .products-full-container{
        width: 100%;
        max-width: 1080px;
        padding: 10px auto;
        margin: 22px auto;
        
    }
    
    .products-full-container ul {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-gap: 25px;
        list-style: none;
    }
    
    .products-full-container ul li {
        border: 1px solid black;
        padding: 18px;
        border-radius: 8px;
        position: relative;
    }
    
    .products-full-container ul li strong {
        display: block;
        margin-bottom: 18px;
        color: black;
    }
    
    .products-full-container ul li p + strong{
        margin-top: 20px;
    }
    
    .products-full-container ul li p{
        color: #737380;
        line-height: 10px;
        font-size: 22px;
    }
    
}

@media screen and (max-width: 520px) {

    .products-full-container{
        width: 100%;
        max-width: 1080px;
        padding: 10px auto;
        margin: 22px auto;
        
    }
    
    .products-full-container ul {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 25px;
        list-style: none;
    }
    
    .products-full-container ul li {
        border: 1px solid black;
        padding: 18px;
        border-radius: 8px;
        position: relative;
    }
    
    .products-full-container ul li strong {
        display: block;
        margin-bottom: 18px;
        color: black;
    }
    
    .products-full-container ul li p + strong{
        margin-top: 20px;
    }
    
    .products-full-container ul li p{
        color: #737380;
        line-height: 10px;
        font-size: 22px;
    }
    
}
