.user-cupons{
    width: 100%;
}

.user-cupons .cupons-table{
    margin: 40px 20px 50px 320px;
}

.user-cupons .cupons-table thead{
    width: 100%;
}

.user-cupons .cupons-table thead tr{
    box-shadow:inset 1px 1px 5em rgb(81, 14, 126), 1px 1px 0.2em black;
    border-radius: 10px;
    color: rgb(255, 255, 255);

}

.user-cupons .cupons-table thead tr td{
    font-size: 40px;
    padding: 10px;
}

.user-cupons .cupons-table tbody{
    width: 100%;
}

.user-cupons .cupons-table tbody tr{
    box-shadow:inset 1px 1px 5em rgb(255, 0, 0), 1px 1px 0.2em black;
    border-radius: 10px;
    color: rgb(0, 0, 0);
}

.user-cupons .cupons-table tbody tr td{
    padding: 20px;
}
