.container{
    display: flex;
    width: 100%;
}

.container .cont-left{
    flex: 70%;
    padding: 2%;
}

.container .cont-left table{
    width: 100%;
    box-shadow: 6px 6px 1em #000000;
    border-radius: 20px;
}

.container .cont-left table tbody tr td{
    padding-top: 2%;
    padding-left: 3%;
    font-size: 25px;
}
.container .cont-left table tbody tr td button{
    width: 30px;
    margin: 0 auto;
}

.container .cont-left table tbody tr button{
    padding-top: 1%;
}

.container .cont-left table thead tr th{
    padding-top: 1%;

}

.container .cont-left table thead tr .qntd{
    position: static;
    margin-top: -7px;
}


.container .cont-left table thead tr .price{
    position: static;
    margin-top: -7px;
}

.container .cont-left table thead tr .prod{
    position: static;
    margin-top: -7px;

}



/*----------------------------------------*/
.container .cont-right{
    flex: 30%;
    padding: 2%;
}

.container .cont-right .cont-final{
    width: 80%;
    box-shadow: 6px 6px 1em #000000;
    border-radius: 20px;
}

.container .cont-final .cont-price{
    padding-left: 10%;
    padding-top: 5%;
}

.container .cont-final .cont-desc-price{
    padding-left: 10%;
    padding-top: 5%;

}

.cont-final .cont-btn-final{
    padding-left: 10%;
    padding-top: 10%;
    padding-bottom: 5%;
}

.cont-final .cont-btn-final .button{
    width: 90%;
    height: 60px;
    background: #BA2126;
    border-radius: 28px;
    border: 0;
    color: white;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    line-height: 60px;
    transition: filter 0.8s;
}