.full-container{
    display: grid;
    grid-template-columns: 70% 30%;
}

.full-container .cont-left{
    padding-left: 15%;
}

.full-container .cont-left .table-left tr td{
    border-bottom: 2.5px solid black;
    padding-top: 3%;
    font-size: 140%;
    width: 900px;
}

.full-container .cont-left .table-left tr td h1{
    border-bottom: 2.5px solid black;
    padding-top: 3%;
    font-size: 140%;
    text-align: center;
    width: 900px;
}


.full-container .cont-right .table-right {
    width: 100%;
}

.full-container .cont-right .table-right td{
    padding: 2%;
    width: 100%;
}

.full-container .cont-right .table-right .offbutton{
    text-align: center;
}


.full-container .cont-right table .button1{
    height: 60px;
    width: 60px;
    border-radius: 4px;
    border: 1px solid rgb(202, 101, 101);
    background: transparent;
    transition: border-color 0.5s;
}
.full-container .cont-right table button:hover{
    border: 2px solid rgb(177, 140, 140);
}