.container-order-selected{
    width: 100%;
    display: flex;
}

.container-order-selected .selected-left{
    flex: 70%;
    width: 100%;
    padding: 2%;
}

.container-order-selected .selected-left .top-table{
    width: 112%;
    padding: 1%;
    box-shadow: inset 0.5px 0.5px 1em rgb(156, 0, 0), 2px 2px 0.5em black;
    background-color: rgba(252, 50, 50, 0.425);
    border-radius: 20px;
}

.container-order-selected .selected-left .top-table tr td{
    padding: 1%;
    font-size: 20px;
    font-style: oblique;
}


.container-order-selected .selected-left .middle-table{
    margin-top: 30px;
    margin-left: 60px;
    width: 99%;
    padding: 1%;
    box-shadow: inset 0.5px 0.5px 1em rgb(110, 0, 0), 1px 1px 0.5em black;
    background-color: rgba(253, 156, 156, 0.459);
    border-radius: 20px;
}


.container-order-selected .selected-left .middle-table .bar td{
    background-color: rgba(202, 0, 0, 0.459);
    padding: 10px;
    font-size: 23px;
    text-align: center;
    box-shadow: inset 0.5px 0.5px 1em rgb(110, 0, 0), 1px 1px 0.5em black;
    border-radius: 20px;
}


.container-order-selected .selected-left .middle-table tr td{
    padding: 25px 10px 10px 10px;
    font-size: 20px;
    text-align: center;
}





.container-order-selected .selected-right{
    flex: 30%;
    width: 100%;
    padding: 1%;

}