.full-container-conf{
    padding-top: 50px;
    display: flex;
    width: 100%;
}


.full-container-conf .cont-left-conf{
    flex: 70%;
    padding: 2%;
}

.full-container-conf .cont-left-conf table{
    text-align: center;
    vertical-align: middle; 
    background-color:rgb(255, 255, 255);
    width: 100%;
    box-shadow:inset 0.8px 0.8px 0.4em black;
    border-radius: 10px;
    padding: 18px;
    width: 100%;
}

.full-container-conf .cont-left-conf table thead tr{
    box-shadow: inset 1000px 1000px 100em #BA2126, 2px 2px 0.2em black;
    border-radius: 10px; 
}

.full-container-conf .cont-left-conf table thead tr td{
    padding: 10px;
    text-align: center;
    font-size: 130%;
    color: #ffffff;
}


.full-container-conf .cont-left-conf table tbody tr td{
    font-size: 120%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.full-container-conf .cont-left-conf .results{
    margin: 1.5% auto;
    padding: 0.8%;
    box-shadow: inset 1000px 1000px 100em #380e10, 2px 2px 0.2em black;
    border-radius: 10px; 
    background-color: white;
    color: white;
    font-size: 120%;
    text-align: center;
    vertical-align: middle; 

}


.full-container-conf .cont-right-conf{
    flex: 30%;
    padding: 2%;

}

.full-container-conf .cont-right-conf table{
    background-color: white;
    width: 100%;
    padding: 3.5%;
    box-shadow: 1px 1px 1em black;
    border-radius: 20px;
}

.full-container-conf .cont-right-conf table thead{

    width: 100%;
    border-radius: 10px;
}

.full-container-conf .cont-right-conf table thead tr td{

    font-size: 120%;
    width: 100%;
    text-align: center;
    vertical-align: middle; 
    padding: 1%;
}
.full-container-conf .cont-right-conf table thead tr td input{

    box-shadow: 1px 1px 0.1em black;

    width: 40%;
    height: 50px;
    font-size: 130%;
    padding-left: 14px;
    color: rgb(0, 0, 0);
    border: 1px solid #727272;
    border-radius: 8px;
    margin-top: 25px;
}

.full-container-conf .cont-right-conf table thead tr td .button{
    margin-bottom: 20px;
    width: 80%;
    text-align: center;
    vertical-align: middle; 
    padding: 1%;
}

.full-container-conf .cont-right-conf table tbody .cupom td h1{
    text-align: center;
    margin-top: 40px;
    font-size: 120%;
}

@keyframes promo{
    0%{    text-shadow: 1px 1px 0.5em #ff0000;
    }
    50%{    text-shadow: 1px 1px 0.5em #d9ff00;
    }
    100%{    text-shadow: 1px 1px 0.5em #ff0000;
    }
}

.full-container-conf .cont-right-conf table tbody .cupom td input{
    box-shadow: 1px 1px 0.1em black;

    width: 80%;
    height: 50px;
    font-size: 130%;
    padding-left: 14px;
    color: rgb(0, 0, 0);
    border: 1px solid #727272;
    border-radius: 8px;
    margin-top: 25px;
    margin-left: 50px;
    
}

.full-container-conf .cont-right-conf table tbody .cupom td button{
    margin-bottom: 20px;
    margin-top: 40px;
    margin-left: 50px;
    width: 80%;
    text-align: center;
    vertical-align: middle; 
    padding: 1%;
}

.full-container-conf .cont-right-conf table tbody .cartao{
    padding: 1%;
    background-image: url("../../assets/bg-card.jpg");
    margin: 27px;
    box-shadow: 4px 4px 0.4em #000000;
    border-radius: 10px;    
}


.full-container-conf .cont-right-conf table tbody .cartao button{
    margin: 10px;
    text-align: center;
    width: 70%;
    margin-left: 15%;
    
}

.full-container-conf .cont-right-conf table tbody tr td p {
    color: #000000;
    margin-top: 20px;
    font-size: 120%;
    margin-bottom: 20px;
    text-align: center;
    animation: promo infinite 4s;

}